* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: white;
    display: flex;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}

h1 {
    font-family: "Inter-Bold", "Inter", sans-serif;
    font-weight: 700;
    color: rgb(51, 51, 51);
    font-size: 48px;
    letter-spacing: -2px;
    text-transform: none;
    text-decoration: none;
    line-height: 1.1em;
}

h2 {
    font-family: "Inter-Bold", "Inter", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #888888
}

.main-container {
    min-height: 100vh;
    background-color: white;
    width: 50%;
}

.form-container {
    margin: 2% 2% 2% 2%;
    width: 90%;
    height: 60vh;
}

.signup {
    height: 50vh;
}

.welcome {
    margin-top: 7%;
    margin-left: 10%;
}

input {
    margin: 2% 2% 2% 2%;
    border: none;
    width: 100%;
    inset: 0px;
    height: 3em;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    appearance: none;
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
    border-radius: 8px;
    padding: 15px;
    text-overflow: unset;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 1px inset;
    font-size: 13px;
    font-weight: 400;
}

.fillables {
    grid-column-start: 1;
    grid-column-end: 3;
}

.signup-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
    align-content: space-evenly;
    grid-auto-rows: minmax(3em, auto);
    height: 80vh;
}

button {
    border: none;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 3em;
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    letter-spacing: -0.2px;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    background: rgb(113, 5, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
    opacity: 1;
}

button:hover {
    cursor: pointer;
    background-color: rgb(250, 187, 1);
    -webkit-transition: background-color 170ms linear;
    -ms-transition: background-color 170ms linear;
    transition: background-color 170ms linear;
}

.image1 {
    width: 15em;
    height: 15em;
    position: absolute;
    top: 15%;
    left: 60%;
}

.image2 {
    width: 20em;
    height: 20em;
    position: absolute;
    top: 40%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.side-container {
    background-color: #e1caff;
    display: grid;
    width: 50%;
    grid-template-rows: repeat(3, 4fr);
    position: relative;
}